In [3]:

pip install pandas

Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# pandas is a statistical library for the purpose for decision making
# applicable to many fields.

In [3]:
import pandas as pd

In [ ]:
pd.__version__ #know the version

'2.2.3'

In [ ]:
# series is similar to a list , single column table is series
# dataframe is similar to a relation / table /matrix but of a simgle columns.

In [4]:
sales = pd.Series([2,3,4])
print(sales,type(sales),sales.dtype)

0    2
1    3
2    4
dtype: int64 <class 'pandas.core.series.Series'> int64

In [5]:
# print using the index
print(sales[0])

sales[0]

2

np.int64(2)

In [ ]:
sales[0:2] #this is the slicing from the series

0    2
1    3
dtype: int64

In [7]:
sales.index

RangeIndex(start=0, stop=3, step=1)

In [9]:
sales.values
type(sales.values)

numpy.ndarray

In [ ]:
sales.head(1)  #from how many number of samples you want to see.

0    2
dtype: int64

In [12]:
# from the end 2 rows:

sales.tail(2)

1    3
2    4
dtype: int64

In [13]:
sales = pd.Series([5,6,7,8,1,2,4,9])
print(sales.sort_values())

4    1
5    2
6    4
0    5
1    6
2    7
3    8
7    9
dtype: int64

In [ ]:
sales.count() #tell the count

np.int64(8)

In [15]:
sales.notnull()

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
dtype: bool

In [ ]:
sales + 2 #add 2 to all the values

0     7
1     8
2     9
3    10
4     3
5     4
6     6
7    11
dtype: int64

In [ ]:
# do the square of all the values and show them as sorted
(sales **2).sort_values()

4     1
5     4
6    16
0    25
1    36
2    49
3    64
7    81
dtype: int64

In [25]:
sales_missing = pd.Series([2,None,5])
sales_missing

0    2.0
1    NaN
2    5.0
dtype: float64

In [27]:
#to fill the nan with 0
sales_missing=sales_missing.fillna(0)
sales_missing

0    2.0
1    0.0
2    5.0
dtype: float64

In [29]:
#default indexes 0,1,2,3
#making user custom indeses

marks = pd.Series([50,55,78,95,65,32,10,25,45],index=list('abcdefghi'))
marks

a    50
b    55
c    78
d    95
e    65
f    32
g    10
h    25
i    45
dtype: int64