In [1]:
# to convert the multi data to the csv

import pandas as pd

multi_data = pd.DataFrame({
    'Park':['A','A','B','B'],
    'Name' : ['Anna','Ben','Chris','Daisy'],
    'Lemonades':[2,3,4,5]
}).set_index(['Park','Name'])

In [3]:
multi_data.to_csv('lemonade_sales.csv')

In [4]:
# to import the csv file

data1 = pd.read_csv('lemonade_sales.csv')

print(data1)

  Park   Name  Lemonades
0    A   Anna          2
1    A    Ben          3
2    B  Chris          4
3    B  Daisy          5

In [ ]:
import numpy as np

dictt = {
    'x':[1,2,3],
    'y':np.array([10,20,30]),
    'z':50  #given a single value then it will be repeated
} #made a dictionary

pd.DataFrame(dictt)
#know that all need to be of same number of the entries

   x   y   z
0  1  10  50
1  2  20  50
2  3  30  50

In [7]:
listt = [[1,2,3],[2,4,100],[3,8,100]]
pd.DataFrame(listt,columns=['x','y','z'])

   x  y    z
0  1  2    3
1  2  4  100
2  3  8  100