In [1]:
# code regarding the tuples and sets

a=() #this is an empty tuple
print("type(a)",type(a))

type(a) <class 'tuple'>

In [2]:
#make a single element tuple
a=(10,)
print(a)
print(type(a))

(10,)
<class 'tuple'>

In [3]:
#make the tuple from the list
list_demo = ['a','e','i','o','u']
tuple_demo = tuple(list_demo)
print(tuple_demo, type(tuple_demo))

('a', 'e', 'i', 'o', 'u') <class 'tuple'>

In [4]:
#access the first and last element from the tuple_demo
print(f"first element : {tuple_demo[0]}\nlast element :{tuple_demo[-1]}")

first element : a
last element :u

In [5]:
#print the mid 3 elements from tuple_demo
print(tuple_demo[1:4])

('e', 'i', 'o')

In [6]:
#to iterate through the elements of the tuple
for item in tuple_demo:
    print(item,end=" ")

a e i o u

In [7]:
#concatenate 2 tuples
a=(1,2)
b=(3,4)
print(f"concatenation is :{(a+b)}")

#repeat a 2 times
print(f"\nrepeated a 2 times :{(a*2)}")

concatenation is :(1, 2, 3, 4)

repeated a 2 times :(1, 2, 1, 2)

In [ ]:
#membership in the tuple
#does 4 belong to tuple
#does 2 belong to tuple

a = (a+b) #done the concatenation
print(a)
print(4 in a)
print(2 in a)

(1, 2, 3, 4)
True
True

In [9]:
# built in functions of tuple
t = tuple([1,2,3,4,5])
print("len(t) :",len(t))
print("sum(t) :",sum(t))
print("min(t) :",min(t))
print("max(t) :",max(t))

len(t) : 5
sum(t) : 15
min(t) : 1
max(t) : 5

In [11]:
#to unpack a tuple
a,b,c,d,e = t
print(a ,end=" ")
print(b ,end=" ")
print(c ,end=" ")
print(d ,end=" ")
print(e ,end=" ")

1 2 3 4 5

In [12]:
#named tuple
from collections import namedtuple
Point = namedtuple("Point",["x","y"])
p = Point(10,20)
print(p.x, p.y)

10 20

In [ ]:
# Sets in python

#They are unordered, no indexing, no duplicate values, they are mutable
#there is a very fast membership testing and supports many mathematical
# functions

#create a set
a= {}  #this is an empty set
a=set(a) #without this line , a is understood to be a dictionary
print(a,type(a))

set() <class 'set'>

In [ ]:
#make the set from the list
list_demo = [10,20,30,40,50]
set_demo = set(list_demo)
print(set_demo) #orientation is managed by internal mechanism

{40, 10, 50, 20, 30}

In [16]:
#clear the set
set_demo = set()
print(set_demo)

set()

In [18]:
set_demo.add(10)
set_demo.add(20)
set_demo.add(30)
set_demo.add(40)
set_demo.add(50)
print(set_demo)
set_demo.pop() #will pop any random element
print(set_demo)

{40, 10, 50, 20, 30}
{10, 50, 20, 30}

In [ ]:
#remove 50 
set_demo.discard(50) #you can use remove(value) but error if absent
print(set_demo)

{10, 20, 30}

In [22]:
# Set operations{ union,intersection,difference,symmetric difference}
a={1,2,3}
b={3,4,5}
print("a|b (a union b) :",(a|b))
print("a&b (a intersection b) :",(a&b))
print("a-b (a difference b) :",(a-b))
print("a^b (a symmetric-difference b) :",(a^b))

a|b (a union b) : {1, 2, 3, 4, 5}
a&b (a intersection b) : {3}
a-b (a difference b) : {1, 2}
a^b (a symmetric-difference b) : {1, 2, 4, 5}

In [ ]:
#all built in methods of sets

#adding elements in set a 
a={10,20,30}
a.add(40)
a.update([50,60,70]) #passing a list of values
print(a)

{70, 40, 10, 50, 20, 60, 30}

In [24]:
#removing the elements
a.discard(70) #no error if absent
a.remove(60) #error if the value absent
a.pop() #removes a random value
print("after above operations : ",a)
a.clear() #removes all the values
print("after a.clear()",a)

after above operations :  {10, 50, 20, 30}
after a.clear() set()

In [ ]:
# | is union()
# & is intersection()
# - is difference()
# ^ is symmetric_difference()

In [29]:
a = {10,20,30,40,50,60,70}
demo = {20,50,60}

print(a.issubset(demo))
print(demo.issubset(a))

print(a.issuperset(demo))
print(a.isdisjoint(demo))

a={10}
demo={30}
print(a.isdisjoint(demo))

False
True
True
False
True

In [30]:
#test of the membership
print(30 in demo)

True

In [ ]:
#make the set containing all the squares from 1 to 10

sq_set = {x*x for x in range(11)}
sq_tuple = tuple(sq_set)
sq_list = list(sq_tuple)
sq_list.sort()
print(sq_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [40]:
#make the set containing all the even numbers from 1 to 30

even_set = {x for x in range(31) if(x%2==0)}
even_tuple = tuple(even_set)
even_list = list(even_tuple)
even_list.sort()
print(even_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]